<div class="card-group">
        <div class="little-card card" id="lc1"></div>
        <div class="little-card card" id="lc2"></div>
        <div class="little-card card" id="lc3"></div>
        <div class="big-card card" id="bc4"></div>
        <div class="big-card card" id="bc3"></div>
        <div class="big-card card" id="bc2"></div>
        <div class="big-card card" id="bc1"></div>
      </div>