<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Creat shopping cart:</h3>

    <form class="form new-Product-form">
      <div class="form-group">
        <label for="Product-name">Product name:</label>
        <input class="form-input" type="text" id="Product-name" name="Product-name" />
      </div>
      <div class="form-group">
        <label for="Product-funding">Product weight:</label>
        <input class="form-input" type="number" id="Product-funding" name="Product-funding" />
      </div>
      <div class="form-group">
        <label for="Product-desc">Quantity:</label>
        <textarea class="form-input" id="Product-desc" name="Product-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add to Cart</button>
      </div>
    </form>
  </div>

  {{#if Products.length}}
  <div class="col-md-6 Product-list">
    <h3>Current Products:</h3>

    {{#each Products as |Product|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/Product/{{Product.id}}">{{Product.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{Product.id}}">Remove from Cart</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
