header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vmin;
  background-image: url(../images/Chemdawg.png);
  background-position: center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgba(95, 158, 160, 0.733);
}

.title {
  font-size: 12vmin;
  font-family: "Geostar", cursive;
  color: cadetblue;
}

.card {
  aspect-ratio: 5/7;
}
